.body{

    font-family: ariel, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

header{
    background: #516069;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 10px;
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/*style pour le conteneur de bouttons*/ 
.button-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
/*style pour le bouton avec id bnt random*/


#buttoRandom{
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}



#buttonRandom:hover{
    background: #d3540d;
    color: #ffffff;
}








